
.main-bar {
    height: 95%;
    width: 6%;
    top: 1em;
    position: absolute;
    left: 1%;
    justify-content: left;
    overflow: hidden;
    z-index: -2;
}
.side2-box {
    height: 100%;
    width: 80%;
    background: rgb(83, 75, 64);
    border-radius: 1em;
    flex-direction: column;
    gap: 1.5em;
    justify-content: space-between;
    box-sizing: border-box;
    background: linear-gradient(#676767 0%, #1D1D1D 100%);
    box-shadow: 8px 5px 5px rgb(0 0 0 / 25%), -6px -4px 7px rgb(202 202 202 / 25%);
}
.h-w2 {
    width: 12%;
}
img.h-w.side-attendance {
    width: 37%;
}
img.h-w.side-user {
    width: 85%;
}
.icons2-all.flex {
    flex-direction: column;
    /* gap: 2em; */
    height: 70%;
    justify-content: space-evenly;
}

.user2.flex {
    height: 10%;
    width: 100%;
    box-sizing: border-box;
}
.slide2-right-icon {
    height: 100%;
    width: 20%;
}
button.slide2-btn {
    /* height: 8%; */
    width: 10%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    border: none;
    position: absolute;
    top: 5%;
    background: rgb(148, 145, 145);
    background: linear-gradient(rgba(148, 145, 145, 1) 0%, rgba(64, 64, 64, 1) 100%);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), -3px -3px 5px rgb(255 255 255 / 25%);
}
img.side-rightarrow {
    height: 40%;
    backdrop-filter: drop-shadow(2px 4px 6px black);
}
.fa-solid.fa-chevron-right{
    color: white;
    /* box-shadow: 2px 3px 4px black; */
    backdrop-filter: drop-shadow(2px 3px 4px rgb( 0 0 0 /25% ));
}
img.h-w2.side-user {
    height: 50%;
    width: 16%;
}
.set2.flex {
    justify-content: start;
    padding-left: 2em;
    gap: 1em;
}
.span {
    color: white;
    font-size: larger;
}

.showMainBar{
    z-index: 1;
    width: 20%;
    transition: 1s;
}
.hideMainBar{
    z-index: -2;
    width: 6%;
    transition: 1s;
}