.max-w-md {
    max-width: 28rem;
    margin: auto;
  }
  
  .p-4 {
    padding: 1rem;
  }
  
  .bg-white {
    background-color: white;
  }
  
  .shadow-lg {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  .flex {
    display: flex;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .items-center {
    align-items: center;
  }
  
  .mb-4 {
    margin-bottom: 1rem;
  }
  
  .px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  
  .py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  
  .bg-gray-200 {
    background-color: #e5e7eb;
  }
  
  .rounded {
    border-radius: 0.25rem;
  }
  
  .text-xl {
    font-size: 1.25rem;
  }
  
  .font-semibold {
    font-weight: 600;
  }
  
  .grid {
    display: grid;
  }
  
  .grid-cols-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  
  .text-center {
    text-align: center;
  }
  
  .gap-2 {
    gap: 0.5rem;
  }
  
  .text-gray-600 {
    color: #a2a7af;
}
  .border-b {
    border-bottom: 2px solid #e2e8f0;
  }
  
  .pb-2 {
    padding-bottom: 0.5rem;
  }
  
  .p-2 {
    padding: 0.5rem;
  }
  
  .border {
    border: 1px solid #e2e8f0;
  }
  
  .text-gray-400 {
    color: #9ca3af;
  }
  
  .text-black {
    color: #dcdcdc;
}
  .max-w-md.mx-auto.p-4.bg-white.shadow-lg.rounded-lg {
    position: absolute;
    top: 0;
    display: flex
;
    background: linear-gradient(rgb(75 75 75) 0%, rgb(26 26 26) 100%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 10em;
    box-shadow: 5px 4px 12px black;
}
h2.text-xl.font-semibold {
    color: white;
}
.calender {
    bottom: 0;
    display: flex
;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
}
=======
}
>>>>>>> 23d26fbb33e5c739f51349ec6f5d0e40df99723a
